.btn {
    width: 140px;
    height: 55px;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    font-size: 18px;
    font-weight: 900;
    text-align: right;
    text-transform: uppercase;
    line-height: 20px;
    letter-spacing: 2px;
    padding: 10px;

    color: #000;
    background-color: #fff;

    transition: all ease 0.3s;

    &_black {
        color: #fff;
        background-color: #000;
    }

    &_wide {
        width: 250px;
        margin: 50px auto 55px auto;
    }

    &:hover {
        box-shadow: 5px 5px 15px 2px #838383;
    }
}