.navigation {
    height: 100px;
    display: flex;
    align-items: center;
    padding-left: 35px;
    padding-right: 40px;
    justify-content: space-between;
}

.logo {
    width: 70px;

    img {
        display: block;
    }
}

.menu {
    width: 890px;
    display: flex;
    align-items: center;
    justify-content: space-around;

    &__link {
        font-size: 16px;
        text-transform: uppercase;

        &:hover {
            text-decoration: underline;
        }
    }
}

.search-btn {
    cursor: pointer;
    width: 150px;
    font-size: 16px;
    text-transform: uppercase;
    padding: 5px;
    border: 1px solid black;
    z-index: 2;
}

.cart {
    width: 30px;

    img {
        display: block;
    }
}

.arrow {
    display: none;
}

.dropmenu {
    position: relative;
    display: inline-block;
}

.submenu {
    position: absolute;
    display: none;
    z-index: 1;
    background-color: white;
    margin-left: -30px;
    padding-top: 50px;

    &__link {
        font-size: 14px;
        font-family: 'Fira Sans',
            sans-serif;
        text-transform: uppercase;
        height: 60px;
        width: 150px;
        display: flex;
        align-items: baseline;
        padding: 0 30px;

        &:hover {
            text-decoration: underline;
        }
    }
}

.dropmenu:hover .submenu {
    display: flex;
    flex-flow: row wrap;
    width: 600px;
}

.title {
    font-family: 'Bodoni Moda',
        serif;
    font-size: 40px;
    font-weight: 600;
    font-style: italic;
    text-align: center;
    height: 90px;

    span {
        font-family: 'Bodoni Moda',
            serif;
        position: relative;
        display: block;
        width: 170px;
        left: 730px;
        top: -8px;
        font-size: 16px;
        font-weight: 900;
        font-style: normal;
    }
}