.recommends__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, minmax(935px, auto));
    grid-auto-rows: minmax(935px, auto);
    column-gap: 60px;
    row-gap: 75px;
    padding: 0 35px;
}