.new .picture__item {
    margin-right: 25px;
    margin-bottom: 70px;
}

.views__box {
    margin-bottom: 70px;
}

@media (max-width: 575.98px) {

    .new .picture__item {
        margin: 30px auto 30px auto;
    }

    .views__box {
        margin-bottom: 30px;
    }
}