@media (max-width: 1365.98px) {
    .container {
        width: 940px;
    }

    .navigation {
        height: 80px;
        padding-left: 40px;
        padding-right: 40px;
    }

    .menu {
        width: 580px;

        &__link {
            font-size: 14px;
        }
    }

    .search-btn {
        width: 130px;
        font-size: 14px;
    }

    .cart {
        width: 20px;
    }

    .submenu {
        padding-top: 25px;

        &__link {
            height: 45px;
        }
    }

    .dropmenu:hover .submenu {
        width: 450px;
    }

    #tabs .tab {
        width: 114px;
        height: 50px;
        padding: 7px;
        font-size: 13px;
        font-weight: 900;
        line-height: 14px;
        letter-spacing: 0.1px;
    }

    .tab_content {
        width: 940px;
        height: 400px;
        border-top: 25px solid #333;
    }

    .circle {
        font-size: 24px;
        width: 350px;
        height: 350px;

        top: -10px;
        left: 38px;
    }

    .btn {
        width: 130px;
        height: 55px;
        letter-spacing: 1px;
        font-size: 16px;
        line-height: 18px;

        &_wide {
            width: 220px;
            margin: 35px auto 35px auto;
        }
    }

    .shapes {
        height: 120px;
    }

    h2 {
        font-size: 36px;
        height: 70px;
    }

    .occasions {

        &__item {

            margin-bottom: 50px;
            padding-right: 25px;
            padding-left: 25px;

            &__days {
                display: flex;
                width: 100%;
                justify-content: space-between;
            }
        }

        .btn {
            margin: 0px auto 40px auto;
        }
    }

    .picture {

        &__descr {
            max-width: 350px;
        }

        &__info {
            font-size: 15px;
        }

        &__materials {
            font-size: 17px;
        }
    }

    .views {

        &__item {
            padding-right: 20px;
            padding-left: 20px;
        }

        &__text {
            font-size: 15px;
        }

        &__author {
            font-size: 16px;
            line-height: 1.3;
        }
    }

    .new {

        .picture__title {
            height: 56px;
        }

        .picture__info {
            max-width: 220px;
        }
    }

    .opinions h2 {
        margin-top: 40px;
    }

    .quality {
        &__item {
            width: 145px;
            height: 145px;
            font-size: 18px;
        }
    }
}